html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
    color: red;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

.hr-light{
  color: rgb(26, 5, 5);
}
h1 {
  letter-spacing: 8px;
  color: rgb(26, 5, 5);
}

h5 {
  letter-spacing: 3px;
  color: rgb(22, 70, 173);
}
h3{
    color: whitesmoke;
}

h6{
  color: rgb(15, 4, 4);
}



a:link {
    color: red;}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
  color: rgb(203, 203, 224);
}
.btn-outline-white {
    border: 2px solid #fff!important;
    background-color: transparent!important;
    color: #fff!important;
}

.p{
    color:rgb(10, 1, 1);
}

.btn {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    color: rgb(253, 251, 251);
}

.wrapper {
    display: flex;
    width: 50%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #6b270c;
    background-image: url("'./images/Rr.jpg'");
    background-image: linear-gradient(rgb(56, 162, 211), rgb(11, 148, 240));
    color: #fff;
    transition: all 0.3s;
}

body{
  margin-top:60px;
}

.container-widget .panel {
  margin-bottom: 15px;
  border-radius: 0px;
  border: 1px #e6e9ee solid;
}

.panel-info {
  background: #3f51b5 url(http://themesground.com/modern/demo1/HTML/img/intro-bg.png) repeat top left;
  color: #fff;
}

.panel-success {
  background: #1ab394 url(http://themesground.com/modern/demo1/HTML/img/intro-bg.png) repeat top left;
  color: #fff;
}

.panel-widget {
  overflow: hidden;
  border: none;
}

.panel .panel-title {
  color: #58666e;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px;
}
.panel-title {
  font-family: 'Montserrat', sans-serif;
  color: #58666e;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 20px;
  margin: -20px;
  background: #fff;
  margin-bottom: 5px;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  letter-spacing: 1px;
}

.rounded-circle{
  border:1px solid;
  border-radius:50%;
  width:50px;
  height:50px;
  }

  .avatar {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    width: 3.875rem;
    height: 3.875rem;
}

.navbar-default {
  background: #830707;
}

.side-nav {
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .side-nav {
    margin-top: 41px;
  }
}

.double-nav {
  z-index: 1000;
}

@media only screen and (max-width: 1024px) {
  .double-nav .breadcrumb-dn {
    display: none;
  }
}

@import url("https://bootswatch.com/flatly/bootstrap.min.css");

body {
  padding-top: 50px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:#ecf0f1;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: sticky;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}

#sidebar {
    padding:15px;
    margin-top:10px;
}